## Some special Contatiner data types
### 1. List as stack, 2. Queue

#### Stack: LIFO(Last IN First OUT) Data Structure.
Python basic list maintains, this propoerty. <br>
Insertion of a new element using append() function. <br>
Deleting an elemnt using pop() function. pop() will remove an element from the end of list. <br>
https://docs.python.org/3/tutorial/datastructures.html

In [1]:
L1 = [1,2,3,4]
L1

[1, 2, 3, 4]

In [2]:
L1.append(5)  ### append will add element at the end of list, insert on whatever has been inserted last
L1

[1, 2, 3, 4, 5]

In [5]:
L1.append("abc")

In [6]:
L1

[1, 2, 3, 4, 5, 'abc']

In [7]:
L1.pop()  ### pop will remove an element from the end of list, (LIFO manner), whatever has been inserted last is removed

'abc'

In [8]:
L1

[1, 2, 3, 4, 5]

In [9]:
L1.appendleft(6)  ### try to add something at begining. Not possible. Alternative can be used as double ended queue

AttributeError: 'list' object has no attribute 'appendleft'

### Double-Ended Queue:
https://docs.python.org/2/library/collections.html#collections.deque
List structure with some additional flexible addition and deletion operations, which can be performed from both front and rear of this special list type structure.
<br>
Insert new item at front using appendleft() function.<br>
Insert new item at rear using append() function.<br>
Delete an item from front using popleft() function.<br>
Delete an item from rear using pop() function.

In [10]:
from collections import deque

In [11]:
L2 = deque([10,11,12,13,14])

In [12]:
L2

deque([10, 11, 12, 13, 14])

In [13]:
L2.append(6)
L2

deque([10, 11, 12, 13, 14, 6])

In [14]:
L2.appendleft(6)

In [16]:
L2

deque([6, 10, 11, 12, 13, 14, 6])

In [17]:
L2.pop()

6

In [18]:
L2

deque([6, 10, 11, 12, 13, 14])

In [19]:
L2.popleft()

6

In [20]:
L2

deque([10, 11, 12, 13, 14])

In [20]:
L2.extendleft(L1)

### Fact of copying one datastructure to other in python 
### 1. With referencing 
### 2. Copy into a new structure
Assignment of one mutable datastructure to other using '=' sign in python does the referencing the orginal one from the new . <br>
To create a new memory in stance of the datastructure use copy() function.

In [21]:
L2

deque([5,
       4,
       3,
       2,
       1,
       5,
       4,
       3,
       2,
       1,
       5,
       4,
       3,
       2,
       1,
       5,
       4,
       3,
       2,
       1,
       6,
       10,
       11,
       12,
       13,
       14,
       6])

L3 = L2

In [26]:
L3=L2
L4 = L2.copy()

In [23]:
L4

deque([5,
       4,
       3,
       2,
       1,
       5,
       4,
       3,
       2,
       1,
       5,
       4,
       3,
       2,
       1,
       5,
       4,
       3,
       2,
       1,
       6,
       10,
       11,
       12,
       13,
       14,
       6])

In [27]:
L3

deque([5,
       4,
       3,
       2,
       1,
       5,
       4,
       3,
       2,
       1,
       5,
       4,
       3,
       2,
       1,
       5,
       4,
       3,
       2,
       1,
       6,
       10,
       11,
       12,
       13,
       14,
       6])

In [28]:
L3.popleft()

5

In [29]:
L3

deque([4,
       3,
       2,
       1,
       5,
       4,
       3,
       2,
       1,
       5,
       4,
       3,
       2,
       1,
       5,
       4,
       3,
       2,
       1,
       6,
       10,
       11,
       12,
       13,
       14,
       6])

In [29]:
L2

deque([4, 3, 2, 1, 10, 11, 12, 13, 14])

### Counter type datastructure:
https://docs.python.org/2/library/collections.html#collections.Counter <br>
It maintains a dictionary structure from the list entries, where the key in the dictionary represents one list entry and the corresponding value signifies the frequecy of occurence of that entry in the list.

In [30]:
from collections import Counter

In [31]:
c1 = Counter({'red': 4, 'blue': 2})

In [32]:
c1

Counter({'red': 4, 'blue': 2})

In [33]:
c2 = Counter(red=4, blue=2)

In [34]:
c2

Counter({'red': 4, 'blue': 2})

In [44]:
c3 = Counter(['red', 'red', 'blue', 'red', 'blue', 'red','black','black','red'])

In [45]:
c3

Counter({'red': 5, 'blue': 2, 'black': 2})

In [46]:
list(c1.elements())

['red', 'red', 'red', 'red', 'blue', 'blue']

In [38]:
for element in c1.elements():
    print(element)

red
red
red
red
blue
blue

#### Printing counter frequency

In [38]:
c4 = Counter('11234234567753433221145')

In [39]:
c4

Counter({'1': 4, '2': 4, '3': 5, '4': 4, '5': 3, '6': 1, '7': 2})

In [40]:
for u, v in c4.items():
    print(u, 'has occcured', v, 'times')

1 has occcured 4 times
2 has occcured 4 times
3 has occcured 5 times
4 has occcured 4 times
5 has occcured 3 times
6 has occcured 1 times
7 has occcured 2 times

#### Print most frequent words,  exploring special for loop structure accompanied with list datatype

In [41]:
L = [1,2,3,4]

In [42]:
for i in L:
    print(i)

1
2
3
4

In [43]:
[i for i in L]

[1, 2, 3, 4]

In [62]:
for i in L:
    if i > 2:
        print(i)

3
4

In [63]:
[i for i in L if i >2]

[3, 4]

##### with counter now

In [66]:
[(u, v) for u, v in c4.items() if v == max(c4.values())]

[('3', 5)]

In [68]:
[(u, v) for u, v in c4.items() if v >2]

[('1', 4), ('2', 4), ('3', 5), ('4', 4), ('5', 3)]

In [69]:
c4

Counter({'1': 4, '2': 4, '3': 5, '4': 4, '5': 3, '6': 1, '7': 2})

In [67]:
c4.most_common(1)

[('3', 5)]

## Defaultdict:
https://docs.python.org/2/library/collections.html#collections.defaultdict <br>
It is a special type of dictionary, where the intial type of the value field is declared at the time of empty dictionary creation.

In [47]:
s = 'mississippi'

In [48]:
from collections import defaultdict

In [49]:
d = defaultdict(int)

In [50]:
d

defaultdict(int, {})

In [51]:
for k in s:
    d[k] += 1

In [75]:
d

defaultdict(int, {'i': 4, 'm': 1, 'p': 2, 's': 4})

In [76]:
d.items()

dict_items([('m', 1), ('i', 4), ('s', 4), ('p', 2)])

In [77]:
Counter(s)

Counter({'i': 4, 'm': 1, 'p': 2, 's': 4})

In [78]:
d1 = defaultdict(set)

In [79]:
d1

defaultdict(set, {})

In [80]:
students = [('ME', 'girls', 12 ), ('ME', 'boys', 38),  ('ISE', 'girls', 18 ), ('ISE', 'boys', 32) ]

In [81]:
for i, j, k in students:
    print(i,j,k)

ME girls 12
ME boys 38
ISE girls 18
ISE boys 32

In [82]:
for i, j, k in students:
    d1[i].add(k)

In [83]:
d1

defaultdict(set, {'ISE': {18, 32}, 'ME': {12, 38}})

In [84]:
d2 = {}

In [85]:
for i, j, k in students:
    if i in d2.keys():
        d2[i].add(k)
    else:
        d2[i] = set()
        d2[i].add(k)

In [86]:
d2

{'ISE': {18, 32}, 'ME': {12, 38}}

### Ordered Dict:
It is another special type of dictionary, where the ordering of dictionary key element insertion is kept track, and popping of the items can be done easily as in LIFO structure.

In [33]:
od1 = {'banana': 3, 'apple': 4, 'pear': 1, 'orange': 2}

In [88]:
od1

{'apple': 4, 'banana': 3, 'orange': 2, 'pear': 1}

In [89]:
type(od1)

dict

In [7]:
from collections import OrderedDict

In [42]:
od2 = OrderedDict()

In [43]:
type(od2)

collections.OrderedDict

In [44]:

od2['banana'] = 3
od2['apple'] = 4
od2['pear'] = 1
od2['orange'] = 2

In [45]:
od2

OrderedDict([('banana', 3), ('apple', 4), ('pear', 1), ('orange', 2)])

In [93]:
od2['mango'] = 5

In [94]:
od2

OrderedDict([('banana', 3),
             ('apple', 4),
             ('pear', 1),
             ('orange', 2),
             ('mango', 5)])

In [95]:
od2.popitem()

('mango', 5)

In [96]:
od2

OrderedDict([('banana', 3), ('apple', 4), ('pear', 1), ('orange', 2)])

In [97]:
od2.popitem()

('orange', 2)

In [98]:
od2

OrderedDict([('banana', 3), ('apple', 4), ('pear', 1)])

##### difference between ordinary dictionary and ordered dictionary:
it rememnbers the order of insertion.

## DataFrame
https://pandas.pydata.org/pandas-docs/stable/ <br>
A Data frame is a two-dimensional data structure, i.e., data is aligned in a tabular fashion in rows and columns.

#### Features of DataFrame
#### Potentially columns are of different types
#### Size – Mutable
#### Labeled axes (rows and columns)
#### Can Perform Arithmetic operations on rows and columns

In [52]:
import pandas as pd

#### create dataframe from dictionary 
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.html

In [53]:
d = {'col1': [1, 2,3,5,6,7,8], 'col2': [3.0, 4.0, 12.5,4,56,7, 5]}

In [54]:
df = pd.DataFrame(data=d)

In [103]:
df

   col1  col2
0     1   3.0
1     2   4.0
2     3  12.5
3     5   4.0
4     6  56.0
5     7   7.0
6     8   5.0

In [55]:
df.head(3)

   col1  col2
0     1   3.0
1     2   4.0
2     3  12.5

In [56]:
df.tail(3)

   col1  col2
4     6  56.0
5     7   7.0
6     8   5.0

#### Indexing
https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html

accecsing columns

In [57]:
df['col1']

0    1
1    2
2    3
3    5
4    6
5    7
6    8
Name: col1, dtype: int64

In [108]:
df['col2'] ## different datatype for the columns

0     3.0
1     4.0
2    12.5
3     4.0
4    56.0
5     7.0
6     5.0
Name: col2, dtype: float64

accesing rows

In [111]:
df.iloc[4]

col1     6.0
col2    56.0
Name: 4, dtype: float64

In [113]:
df.loc[4]

col1     6.0
col2    56.0
Name: 4, dtype: float64

Effect of row index

In [119]:
df1 = pd.DataFrame(data=d, index=['a','b','c','d','e','f','g'])

In [120]:
df1

   col1  col2
a     1   3.0
b     2   4.0
c     3  12.5
d     5   4.0
e     6  56.0
f     7   7.0
g     8   5.0

In [121]:
df1.loc['b']

col1    2.0
col2    4.0
Name: b, dtype: float64

In [122]:
df.iloc[1]

col1    2.0
col2    4.0
Name: 1, dtype: float64

In [126]:
df1.iloc[:4]  ## notice the effect of ":", it slice the dataframe from initial to length 4

   col1  col2
a     1   3.0
b     2   4.0
c     3  12.5
d     5   4.0

In [127]:
len(df1)

7

In [129]:
df1.iloc[1]['col1']

2.0

### Reading from file into a dataframe

In [155]:
rating_df = pd.read_table("lastfm_rating.txt", sep = " ", header = None)

In [156]:
rating_df.head()

   0   1  2  3  4              5
0  2  52  0  5  0  1238536800000
1  2  52  0  5  0  1238536800000
2  2  52  0  5  0  1238536800000
3  2  52  0  5  0  1238536800000
4  2  52  0  5  0  1238536800000

##### Add column names seperately

In [157]:
rating_df.columns = ["user", "item" ,"p", "rating","q", "r"]

In [158]:
rating_df.head()

   user  item  p  rating  q              r
0     2    52  0       5  0  1238536800000
1     2    52  0       5  0  1238536800000
2     2    52  0       5  0  1238536800000
3     2    52  0       5  0  1238536800000
4     2    52  0       5  0  1238536800000

In [159]:
len(rating_df)

186479

##### Removing duplicate rows from data frame

In [160]:
rating_df =rating_df.drop_duplicates()
len(rating_df)

87061

##### Select a particular based on some cell value filtering

In [161]:
rating_df[ rating_df['item'] == 94]

       user  item  p  rating  q              r
17        2    94  0       5  0  1238536800000
17642   190    94  0       5  0  1233442800000

##### Droping columns
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.drop.html

In [162]:
rating_df = rating_df.drop([ 'p', 'q', 'r'], axis = 1)

In [163]:
rating_df.head()

    user  item  rating
0      2    52       5
5      2    63       5
9      2    73       5
17     2    94       5
25     2    96       5

##### Remove row
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.drop.html

In [167]:
rating_df= rating_df.drop([0,5])

In [168]:
rating_df.head()

    user  item  rating
9      2    73       5
17     2    94       5
25     2    96       5
27     2   995       5
33     2  3894       5

##### Mathematical operations on column

In [171]:
max(rating_df['user'])

2100

In [172]:
min(rating_df['user'])

2

##### Group by operations on dataframe
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.groupby.html#pandas.DataFrame.groupby

In [175]:
rating_df.groupby(['user'])

In [176]:
rating_df.groupby(['user']).count()

      item  rating
user
2        8       8
3       23      23
4       60      60
5       36      36
6        4       4
7        3       3
8        7       7
9      113     113
10      14      14
11      21      21
12     265     265
13      14      14
14     121     121
15       3       3
16      65      65
17       1       1
18       2       2
20       6       6
21      24      24
22       3       3
23      29      29
24       4       4
25      31      31
26      21      21
27      17      17
28      16      16
29       7       7
30       3       3
31     280     280
32       6       6
...    ...     ...
2066    35      35
2067    63      63
2068    48      48
2069    70      70
2070     6       6
2071    95      95
2072     1       1
2075     2       2
2076     7       7
2077   103     103
2078     2       2
2079    48      48
2080     5       5
2081    13      13
2083     1       1
2084     3       3
2085     1       1
2086     1       1
2087     7       7
2088    11      11
2090    16      16
2091    14      14
2092     6       6
2093     9       9
2094    36      36
2095    68      68
2096   475     475
2097     2       2
2099    80      80
2100     8       8

[1892 rows x 2 columns]

In [177]:
rating_df.groupby(['user'])['item'].count()

user
2         8
3        23
4        60
5        36
6         4
7         3
8         7
9       113
10       14
11       21
12      265
13       14
14      121
15        3
16       65
17        1
18        2
20        6
21       24
22        3
23       29
24        4
25       31
26       21
27       17
28       16
29        7
30        3
31      280
32        6
       ...
2066     35
2067     63
2068     48
2069     70
2070      6
2071     95
2072      1
2075      2
2076      7
2077    103
2078      2
2079     48
2080      5
2081     13
2083      1
2084      3
2085      1
2086      1
2087      7
2088     11
2090     16
2091     14
2092      6
2093      9
2094     36
2095     68
2096    475
2097      2
2099     80
2100      8
Name: item, Length: 1892, dtype: int64

In [179]:
rating_df.groupby(['user'])['rating'].mean()  ## change with sum

user
2       5
3       5
4       5
5       5
6       5
7       5
8       5
9       5
10      5
11      5
12      5
13      5
14      5
15      5
16      5
17      5
18      5
20      5
21      5
22      5
23      5
24      5
25      5
26      5
27      5
28      5
29      5
30      5
31      5
32      5
       ..
2066    5
2067    5
2068    5
2069    5
2070    5
2071    5
2072    5
2075    5
2076    5
2077    5
2078    5
2079    5
2080    5
2081    5
2083    5
2084    5
2085    5
2086    5
2087    5
2088    5
2090    5
2091    5
2092    5
2093    5
2094    5
2095    5
2096    5
2097    5
2099    5
2100    5
Name: rating, Length: 1892, dtype: int64

In [180]:
##### new grouped dataframe create

In [181]:
item_count_per_user = rating_df.groupby(['user'])['item'].count().reset_index()
item_count_per_user.columns = ["user", "item_count"]

In [183]:
item_count_per_user.head()

   user  item_count
0     2           8
1     3          23
2     4          60
3     5          36
4     6           4

In [184]:
##### select the data where len of the group by is greater than some value
##### using filter: filter creates a list of elements for which a function returns true.
##### The general syntax of a lambda function is quite simple:
##### lambda argument_list: expression

In [189]:
rating_df = rating_df.groupby(['user']).filter(lambda x: len(x) > 2)

In [190]:
rating_df.head()

   index  user  item  rating
0      9     2    73       5
1     17     2    94       5
2     25     2    96       5
3     27     2   995       5
4     33     2  3894       5

In [192]:
len(rating_df)

86568

Dataframe is a tabular datastructure, where column and row both can be indexed. <br>
For visualiztion, we can query on the dataframe.  <br>
For data preprocessing, data frame can be used.  <br>
Both row and operations can be performed on it.  <br>