In [11]:
#Question 1
l=[1,2,3]

In [2]:
l.append(56)

In [3]:
l.append(100)

In [4]:
l

[1, 2, 3, 56, 100]

In [5]:
from collections import deque

In [6]:
l=deque(l)

In [7]:
l

deque([1, 2, 3, 56, 100])

In [8]:
l.appendleft(1000)

In [9]:
l.appendleft(2000)

In [10]:
l

deque([2000, 1000, 1, 2, 3, 56, 100])

In [12]:
#Question 2
l1=[['ME','ISE','CSE','MATH'],['Ram','Shyam','Sruti','Pankaj','Anuja','Anjali'],[17,18,18,17,19,18]]

In [13]:
l1

[['ME', 'ISE', 'CSE', 'MATH'],
 ['Ram', 'Shyam', 'Sruti', 'Pankaj', 'Anuja', 'Anjali'],
 [17, 18, 18, 17, 19, 18]]

In [14]:
l1[1][2]

'Sruti'

In [15]:
max(l1[2])

19

In [16]:
#Question 3
para='It gives me great pleasure to be here for the 64th annual convocation of the Indian Institute of Technology, Kharagpur. This is a pioneering institute. It was the first of the IITs in our country and in a sense marked the beginning of technical and engineering education after Independence. A convocation ceremony is a landmark for any academic institution. This is a day of reward for years of hard work by the approximately 2,500 students who are graduating today. I must also mention the efforts and sacrifices of their professors and teachers, and their family members. I congratulate all of you and wish you the very best as you step into a world that is defined, driven and developed by technology. I have no doubt that you will contribute to making this world a better place, both professionally and personally, with your education and with your empathy for fellow human beings. IIT Kharagpur has its origins in a committee that was set up by the government shortly after Independence to take stock of technical education. The committee was headed by the British Nobel laureate Dr A.V. Hill. Dr Hill recommended the setting up of an institution modelled on the pattern of MIT in the United States. The result is the Institute we are in today. The use of global experts to conceive this Institute was appropriate. Over the years, IIT Kharagpur and in fact the IIT network and community has become an important window to the world. This is in keeping with our country’s and our civilisation’s character. Exchange of ideas, of expertise, of knowledge – across fields, from engineering to economics, from medicine to management – has contributed to our policy choices and our people’s development. We must continue to celebrate this. The IIT Kharagpur community is a prized resource for India and for the world. As graduating students will soon realise, the IIT Kharagpur brand name and the reputation built by the achievements of generations of illustrious alumni will accompany you wherever you go. You are now part of a transcontinental talent pool that has added value to technology and wealth creation and, above all, to human lives. Your Institute took a major step towards strengthening India’s global academic linkages when it started the International Summer Winter Term Programme. Later the Ministry of Human Resource Development expanded this in the form of the Global Initiative of Academic Networks or GIAN. IIT Kharagpur is the largest member of the IIT family. It has the maximum number of academic units, students and faculty members. It was also the first to diversify and enlarge the ambit of the IIT system from just pure sciences and engineering. IIT Kharagpur was the first to establish a business school, a law school and a medical school. The campus today boasts a Science and Technology Entrepreneurship Park, a Petroleum Engineering Centre, and even a Centre for the Science of Happiness. One day I would like to visit it. Many of these schools and centres were established due to endowments and efforts of alumni. The alumni community’s affection for and continued association with IIT Kharagpur is a role model for other educational institutions'

In [17]:
from collections import Counter

In [22]:
frequency=Counter(para.split())

In [23]:
frequency

Counter({'It': 4,
         'gives': 1,
         'me': 1,
         'great': 1,
         'pleasure': 1,
         'to': 15,
         'be': 1,
         'here': 1,
         'for': 9,
         'the': 33,
         '64th': 1,
         'annual': 1,
         'convocation': 2,
         'of': 27,
         'Indian': 1,
         'Institute': 4,
         'Technology,': 1,
         'Kharagpur.': 1,
         'This': 3,
         'is': 9,
         'a': 17,
         'pioneering': 1,
         'institute.': 1,
         'was': 6,
         'first': 3,
         'IITs': 1,
         'in': 8,
         'our': 5,
         'country': 1,
         'and': 25,
         'sense': 1,
         'marked': 1,
         'beginning': 1,
         'technical': 2,
         'engineering': 2,
         'education': 2,
         'after': 2,
         'Independence.': 1,
         'A': 1,
         'ceremony': 1,
         'landmark': 1,
         'any': 1,
         'academic': 3,
         'institution.': 1,
         'day': 2,
         'reward': 1,
         'years': 1,
         'hard': 1,
         'work': 1,
         'by': 5,
         'approximately': 1,
         '2,500': 1,
         'students': 3,
         'who': 1,
         'are': 3,
         'graduating': 2,
         'today.': 2,
         'I': 4,
         'must': 2,
         'also': 2,
         'mention': 1,
         'efforts': 2,
         'sacrifices': 1,
         'their': 2,
         'professors': 1,
         'teachers,': 1,
         'family': 1,
         'members.': 2,
         'congratulate': 1,
         'all': 1,
         'you': 6,
         'wish': 1,
         'very': 1,
         'best': 1,
         'as': 1,
         'step': 2,
         'into': 1,
         'world': 2,
         'that': 4,
         'defined,': 1,
         'driven': 1,
         'developed': 1,
         'technology.': 1,
         'have': 1,
         'no': 1,
         'doubt': 1,
         'will': 3,
         'contribute': 1,
         'making': 1,
         'this': 3,
         'better': 1,
         'place,': 1,
         'both': 1,
         'professionally': 1,
         'personally,': 1,
         'with': 4,
         'your': 2,
         'empathy': 1,
         'fellow': 1,
         'human': 2,
         'beings.': 1,
         'IIT': 10,
         'Kharagpur': 7,
         'has': 5,
         'its': 1,
         'origins': 1,
         'committee': 2,
         'set': 1,
         'up': 2,
         'government': 1,
         'shortly': 1,
         'Independence': 1,
         'take': 1,
         'stock': 1,
         'education.': 1,
         'The': 6,
         'headed': 1,
         'British': 1,
         'Nobel': 1,
         'laureate': 1,
         'Dr': 2,
         'A.V.': 1,
         'Hill.': 1,
         'Hill': 1,
         'recommended': 1,
         'setting': 1,
         'an': 2,
         'institution': 1,
         'modelled': 1,
         'on': 1,
         'pattern': 1,
         'MIT': 1,
         'United': 1,
         'States.': 1,
         'result': 1,
         'we': 1,
         'use': 1,
         'global': 2,
         'experts': 1,
         'conceive': 1,
         'appropriate.': 1,
         'Over': 1,
         'years,': 1,
         'fact': 1,
         'network': 1,
         'community': 2,
         'become': 1,
         'important': 1,
         'window': 1,
         'world.': 2,
         'keeping': 1,
         'country’s': 1,
         'civilisation’s': 1,
         'character.': 1,
         'Exchange': 1,
         'ideas,': 1,
         'expertise,': 1,
         'knowledge': 1,
         '–': 2,
         'across': 1,
         'fields,': 1,
         'from': 3,
         'economics,': 1,
         'medicine': 1,
         'management': 1,
         'contributed': 1,
         'policy': 1,
         'choices': 1,
         'people’s': 1,
         'development.': 1,
         'We': 1,
         'continue': 1,
         'celebrate': 1,
         'this.': 1,
         'prized': 1,
         'resource': 1,
         'India': 1,
         'As': 1,
         'soon': 1,
         'realise,': 1,
         'brand': 1,
         'name': 1,
         'reputation': 1,
         'built': 1,
         'achievements': 1,
         'generations': 1,
         'illustrious': 1,
         'alumni': 2,
         'accompany': 1,
         'wherever': 1,
         'go.': 1,
         'You': 1,
         'now': 1,
         'part': 1,
         'transcontinental': 1,
         'talent': 1,
         'pool': 1,
         'added': 1,
         'value': 1,
         'technology': 1,
         'wealth': 1,
         'creation': 1,
         'and,': 1,
         'above': 1,
         'all,': 1,
         'lives.': 1,
         'Your': 1,
         'took': 1,
         'major': 1,
         'towards': 1,
         'strengthening': 1,
         'India’s': 1,
         'linkages': 1,
         'when': 1,
         'it': 1,
         'started': 1,
         'International': 1,
         'Summer': 1,
         'Winter': 1,
         'Term': 1,
         'Programme.': 1,
         'Later': 1,
         'Ministry': 1,
         'Human': 1,
         'Resource': 1,
         'Development': 1,
         'expanded': 1,
         'form': 1,
         'Global': 1,
         'Initiative': 1,
         'Academic': 1,
         'Networks': 1,
         'or': 1,
         'GIAN.': 1,
         'largest': 1,
         'member': 1,
         'family.': 1,
         'maximum': 1,
         'number': 1,
         'units,': 1,
         'faculty': 1,
         'diversify': 1,
         'enlarge': 1,
         'ambit': 1,
         'system': 1,
         'just': 1,
         'pure': 1,
         'sciences': 1,
         'engineering.': 1,
         'establish': 1,
         'business': 1,
         'school,': 1,
         'law': 1,
         'school': 1,
         'medical': 1,
         'school.': 1,
         'campus': 1,
         'today': 1,
         'boasts': 1,
         'Science': 2,
         'Technology': 1,
         'Entrepreneurship': 1,
         'Park,': 1,
         'Petroleum': 1,
         'Engineering': 1,
         'Centre,': 1,
         'even': 1,
         'Centre': 1,
         'Happiness.': 1,
         'One': 1,
         'would': 1,
         'like': 1,
         'visit': 1,
         'it.': 1,
         'Many': 1,
         'these': 1,
         'schools': 1,
         'centres': 1,
         'were': 1,
         'established': 1,
         'due': 1,
         'endowments': 1,
         'alumni.': 1,
         'community’s': 1,
         'affection': 1,
         'continued': 1,
         'association': 1,
         'role': 1,
         'model': 1,
         'other': 1,
         'educational': 1,
         'institutions': 1})

In [24]:
[(u,v) for u,v in frequency.items() if v>10]

[('to', 15), ('the', 33), ('of', 27), ('a', 17), ('and', 25)]

In [36]:
#Question 4
Counter(para.split()).most_common(5)

[('the', 33), ('of', 27), ('and', 25), ('a', 17), ('to', 15)]

In [25]:
from collections import defaultdict

In [26]:
from collections import OrderedDict

In [31]:
od=OrderedDict()

In [34]:
od['a']=[1,2,3,4,5]
od['b']=[11,27,38,44,57]
od['c']=[19,435,324,12]

In [35]:
od

OrderedDict([('a', [1, 2, 3, 4, 5]),
             ('b', [11, 27, 38, 44, 57]),
             ('c', [19, 435, 324, 12])])

In [37]:
od.popitem()

('c', [19, 435, 324, 12])

In [38]:
#Question 5
import pandas as pd

In [39]:
d = {'col1': [1, 2,3,5,6,7,8], 'col2': [3.0, 4.0, 12.5,4,56,7, 5]}

In [40]:
d

{'col1': [1, 2, 3, 5, 6, 7, 8], 'col2': [3.0, 4.0, 12.5, 4, 56, 7, 5]}

In [41]:
df = pd.DataFrame(data=d)

In [42]:
df

   col1  col2
0     1   3.0
1     2   4.0
2     3  12.5
3     5   4.0
4     6  56.0
5     7   7.0
6     8   5.0

In [49]:
df.iloc[1]['col2']

4.0

In [55]:
for index, row in df.iterrows():
    print(row['col1'], row['col2'])

1.0 3.0
2.0 4.0
3.0 12.5
5.0 4.0
6.0 56.0
7.0 7.0
8.0 5.0